body {
  background-image: url("images/world-img5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* font-family: Arial, sans-serif; */
  text-align: center;
}

#main-container {
  /* background-image: url("https://images.pexels.com/photos/5725589/pexels-photo-5725589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
   background-size: cover ; */
  background-color: rgba(241, 234, 234, 0.619);
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  border-radius: 5px;
  /* height: 600px; */
}

.img-two {
  width: 350px;
  height: auto;
  /* float: left; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

p {
  color: gray;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
}

h1 {
  text-align: left;
  font-family: cursive;
  margin: 20px 0 0 30px;
}

h3 {
   font-size: 1.5rem; 
   color: rgb(10, 9, 9);
   background-color: #cccfd850;
   width: 700px;
   text-align: center;
   margin: auto;
   margin-bottom: 10px;
   border-radius: 5px;
}

h2 {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-line: overline;
}

#first-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
  /* margin-bottom: 30px; */
  width: 600px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.testing {
  color: rgb(8, 2, 42);
  /* font-family:monospace; */
  text-align: center;
}

.button {
    font-family:cursive;
    font-weight: bold;
  --b: 5px; /* border thickness */
  --s: 0.50em; /* size of the corner */
  --color: #373b44;
  margin: 20px;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 18px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.07em;
}

.button:active {
  background: var(--color);
  color: #fff;
}

img {
  width: 350px;
  height: auto;
  /* border: 2px solid green; */
  /* float: left; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-radius: 10px;

}

strong {
    color: rgb(41, 5, 138);
    font-size: large;
}