

body {
    background: url("images/world-img2.jpg");
    background-repeat: repeat-y;
    font-family: Arial, sans-serif;
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}

.country {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: left;
}

img {
    width: 400px;
    height: auto;
}


h2 {
    color: red
}